<component name="libraryTable">
  <library name="SpringLib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../SpringDemoSimpleJavaProject/SpringLib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../SpringDemoSimpleJavaProject/SpringLib" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../SpringDemoSimpleJavaProject/SpringLib" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../SpringDemoSimpleJavaProject/SpringLib" recursive="false" type="SOURCES" />
  </library>
</component>