<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="triangle" class="org.pratik.javabrains.Triangle" autowire="byName">

        <!--We can also autowire bytype but then it works only if we have one property to set-->
        <!--We can also autowire constructor but then we need a parameterized constructor-->

        <!--<property name="points">-->
            <!--<list>-->
                <!--<ref bean="pt1"></ref>-->
                <!--<ref bean="pt2"></ref>-->
                <!--<ref bean="pt3"></ref>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <bean id="p1" class="org.pratik.javabrains.Point">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>
    <bean id="p2" class="org.pratik.javabrains.Point">
        <property name="x" value="-20"></property>
        <property name="y" value="0"></property>
    </bean>
    <bean id="p3" class="org.pratik.javabrains.Point">
        <property name="x" value="0"></property>
        <property name="y" value="20"></property>
    </bean>

</beans>
